<div id="header_wrap" class="outer">
    <header class="inner">
        <a id="forkme_banner" href="https://github.com/takeshik/yacq">View on GitHub</a>
        <h1 id="project_title">YACQ</h1>
        <h2 id="project_tagline">Yet Another Compilable Query Language for .NET, based on Expression Trees API</h2>
        <section id="downloads">
            <a class="zip_download_link" href="https://github.com/takeshik/yacq/zipball/master">Download this project as a .zip file</a>
            <a class="tar_download_link" href="https://github.com/takeshik/yacq/tarball/master">Download this project as a tar.gz file</a>
        </section>
    </header>
</div>
