<div id="header_wrap" class="outer">
    <header class="inner">
        <a id="forkme_banner" href="https://github.com/takeshik/yacq">View on GitHub</a>
        <a href="/index"><img id="header_logo" src="../images/yacq-logo.png" width="500" height="180" alt="YACQ - Yet Another Compilable Query Language for .NET, based on Expression Trees API" /></a>
    </header>
</div>
<div id="nav_wrap" class="outer">
    <nav class="inner">
       <!--
       <ul id="nav_sitemap">
           <li class="menu_item"><a href="#">TOC</a></li>
       </ul>
       -->
       <ul id="nav_location">
           <li class="menu_item header"><a href="#0">{{ page.title }}</a></li>
       </ul>
       <ul id="nav_lang">
        <li>lang:</li>
        <li class="menu_item lang"><a href="#">en</a></li>
        <li class="menu_item lang"><a href="#">ja</a></li>
       </ul>
    </nav>
</div>